---
const experiences = [
  {
    icon: '🎨',
    title: 'Educación',
    description: '¿Necesitas clase de alguna asignatura en especifico? Con trea podemos ayudarte.',
    years: 'Saber mas.',
  },
  {
    icon: '💻',
    title: 'Profesional',
    description: '¿Tienes mucho trabajo y estas agobiado? Con trea puedes resolver cualquier tipo de trabajo.',
    years: 'Saber mas.',
  }
];
---

<section id="about" class="py-20 bg-gradient-to-b from-gray-50 to-white">
  <div class="container mx-auto px-6">
    <div class="max-w-4xl mx-auto" data-aos="fade-up">
      <div class="flex flex-col items-center text-center justify-center mb-16">
        <h2 class="text-4xl font-display font-bold text-secondary mb-6">Sobre nosotros</h2>
        <p class="max-w-xl text-lg text-gray-600 mb-8 leading-relaxed">
          Somos una agencia de apoyo academico y profesional, caracterizada por nuestra agilidad y eficiencia en cualquier tipo de tarea que se nos sea asignada. Contamos con una amplia variedad de servicios para el cliente.
        </p>
        <div class="flex flex-wrap justify-center gap-4 mb-12">
          <span class="px-4 py-2 bg-primary/10 text-primary rounded-full text-sm">
            Precisos
          </span>
          <span class="px-4 py-2 bg-primary/10 text-primary rounded-full text-sm">
            Pensamiento Creativo
          </span>
          <span class="px-4 py-2 bg-primary/10 text-primary rounded-full text-sm">
            Detallado
          </span>
          <span class="px-4 py-2 bg-primary/10 text-primary rounded-full text-sm">
            Rapido
          </span>

        </div>
      </div>

      <div class="flex flex-col items-center justify-center gap-8 md:flex-row">
        {experiences.map((item) => (
          <div 
            class="p-6 bg-white shadow-2xl shadow-blue-500/20 hover:shadow-[0_20px_50px_rgba(8,_112,_184,_0.4)] rounded-xl transition-all duration-300 transform hover:-translate-y-1"
            data-aos="fade-up"
          >
            <div class="w-12 h-12 bg-primary/10 rounded-lg flex items-center justify-center mb-4 text-2xl">
              {item.icon}
            </div>
            <h3 class="font-display font-bold text-xl mb-2">{item.title}</h3>
            <p class="text-gray-600 mb-4">{item.description}</p>
            <span class="text-sm font-semibold text-primary">{item.years}</span>
          </div>
        ))}
      </div>
    </div>
  </div>

</section>