---
---

<section id="contact" class="py-20">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl mx-auto text-center" data-aos="fade-up">
      <h2 class="text-4xl font-display font-bold text-secondary mb-6">¡Contactanos!</h2>
      <p class="text-lg text-gray-600 mb-6">
        ¿Necesitas alguno de nuestros servicios? ¡No dudes en contactarnos!
      </p>
      <div class="flex items-center justify-center gap-6">
          <a 
          href="https://wa.me/573046101560?text=Hola,%20quiero%20más%20información" 
          target="_blank"
            <button class="bg-green-500 hover:bg-green-600 transition-colors text-white font-semibold py-4 px-6 rounded-xl">
              Escríbenos por WhatsApp
            </button>
          </a>          
    </div>
  </div>
</section>