---

---

<section id="home" class="min-h-screen flex items-center justify-center bg-[url(https://images.pexels.com/photos/7640436/pexels-photo-7640436.jpeg)] bg-no-repeat bg-bottom bg-cover md:pb-20"> 
  <div class="container mx-auto px-6 text-center">
    <div class="max-w-3xl mx-auto" data-aos="fade-up"> 
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-[#f5f3ee] mb-4 font-display">
        Hola, somos <span class="text-primary">TreaWork</span>.
      </h1>
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold text-white mb-6">
        Tu Aliado Estratégico en Éxito Académico y Profesional.
      </h2>
      <p class="text-lg md:text-xl text-[#f4f4f4] mb-10 leading-relaxed">
        Transformamos tus desafíos en logros con soluciones inteligentes y personalizadas.
      </p>
      <div class="flex flex-col sm:flex-row gap-4 justify-center">
        <a
          href="#services"
          class=" bg-primary border-2 border-primary text-white px-8 py-3 rounded-lg text-lg font-semibold hover:bg-primary/90 transition-all duration-300 transform hover:scale-105 flex items-center justify-center"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
          </svg>
          Ver Servicios
        </a>
        <a
          href="#contact"
          class="bg-white border-2 border-white text-secondary px-8 py-3 rounded-lg text-lg font-semibold hover:bg-secondary hover:text-white transition-all duration-300 transform hover:scale-105 flex items-center justify-center"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
          </svg>
          Contáctanos
        </a>
      </div>
    </div>
  </div>
</section>

<script>
</script>