---
---

<section id="home" class="min-h-screen flex items-center pt-20">
  <div class="container mx-auto px-6">
    <div class="max-w-3xl" data-aos="zoom-in-up">
      <h1 class="hero-tittle text-5xl md:text-7xl font-display font-bold text-secondary mb-2">
        Hola, somos Trea.
      </h1>
      <h3 class="hero-tittle text-3xl md:text-5xl font-display font-bold text-secondary mb-2">
        Tu mayor aliado academico y profesional.</h3>
      <p class="text-xl text-gray-600 mb-8">
        Ofrecemos soluciones Inteligentes para tus Desafíos Académicos y Profesionales.
      </p>
      <div class="flex gap-4 justify-left flex-col md:flex-row">
        <a
          href="#contact"
          class="bg-primary border-2 border-primary flex justify-center items-center min-h-[30px] max-w-[250px] text-white text-center px-8 py-3 rounded-lg hover:bg-primary/90 transition-colors duration-300 "
        >
          ¡Contactanos!
        </a>
        <a
          href="#projects"
          class="border-2 text-center min-h-[30px] max-w-[250px] border-secondary text-secondary px-8 py-3 rounded-lg text-lg hover:bg-secondary hover:text-white transition-colors duration-300"
        >
          Nuestros servicios.
        </a>
      </div>
    </div>
  </div>
</section>