---
---

<section id="stats">
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-6xl px-6 lg:px-8 bg-red py-5 ">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
            <div class="mx-auto flex max-w-xs flex-col gap-y-4 ">
              <dt class="text-base/7 text-gray-600">Clientes satisfechos con su trabajo.</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">100%</dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4 ">
              <dt class="text-base/7 text-gray-600">solicitudes realizadas cada mes.</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">+200</dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 text-gray-600">Mentores disponibles.</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">10</dd>
            </div>
          </dl>
        </div>
      </div>    
</section>

